.actor {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}

.descr {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.profile {
  min-width: 33%;
  overflow: hidden;
  font-size: 0;
}

.cover {
  border-radius: 10px;
  border: 1px solid coral;
  width: 100%;
  object-fit: cover;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 24px;
  border: 2px solid aquamarine;
  border-radius: 24px;
}

.text {
  color: aquamarine;
  display: inline-flex;
  gap: 12px;
}

.wrapper {
  display: flex;
  gap: 12px;
  font-size: 18px;
}

.subtitle {
  min-width: 120px;
  color: brown;
}

.back {
  display: inline;
  color: blueviolet;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back:hover {
  color: blue;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 24px 0;
}

.title {
  font-size: 24px;
  color: aquamarine;
}

.images {
  display: grid;
  padding: 0 12px;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  position: relative;
  width: 100%;
  z-index: 100;
}

.img {
  max-width: 100%;
  border-radius: 10px;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.img:hover {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
}

.img:nth-child(1):hover {
  transform: scale(1.75) translate(25%, 25%);
}
.img:nth-child(2):hover {
  transform: scale(1.75) translate(0%, 25%);
}
.img:nth-child(3):hover {
  transform: scale(1.75) translate(-25%, 25%);
}
.img:nth-child(4):hover {
  transform: scale(1.75) translate(25%, 0%);
}
.img:nth-child(5):hover {
  transform: scale(1.75);
}
.img:nth-child(6):hover {
  transform: scale(1.75) translate(-25%, 0%);
}
.img:nth-child(7):hover {
  transform: scale(1.75) translate(25%, -25%);
}
.img:nth-child(8):hover {
  transform: scale(1.75) translate(0%, -25%);
}

.img:nth-child(9):hover {
  transform: scale(1.75) translate(-25%, -25%);
}

@media (max-width: 767px) {
  .list {
    padding: 24px 12px;
  }
  .title {
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .back {
    margin-left: 32px;
  }

  .descr {
    flex-direction: column;
    padding: 0 12px;
  }

  .descr > div {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .images {
    grid-template-columns: 1fr;
  }
  .img:hover {
    border: none;
    box-shadow: none;
    transform: none !important;
  }

  .wrapper {
    flex-direction: column;
  }
}
