.hero {
  width: 100%;
  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/46FRuCeAn6TrS4F1P4F9zhyCpyo.jpg');
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input {
  border-radius: 24px;
  width: 100%;
  padding: 12px 24px;
  border: none;
  outline: none;
}

.title {
  font-size: 48px;
  color: azure;
  text-align: center;
}

.label {
  width: 100%;
  position: relative;
}

.clear {
  position: absolute;
  top: 40%;
  right: 18px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: darkcyan;
  line-height: 0;
}

@media (max-width: 560px) {
  .hero {
    padding: 48px 12px;
  }

  .title {
    font-size: 24px;
  }
}
