.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  padding: 24px;
  z-index: 100;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.9);
}
.nav {
  display: flex;
  gap: 24px;
}
.link {
  color: coral;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.9);
  text-decoration: none;
  outline: none;
  transition:
    color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
  color: chocolate;
}

.active {
  color: aquamarine;
}

.active:hover {
  color: aquamarine;
}
