.movie {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.descr {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.descr > div {
  width: calc(50% - 12px);
}

.back {
  display: inline;
  color: blueviolet;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back:hover {
  color: blue;
}

@media (max-width: 768px) {
  .back {
    margin-left: 32px;
  }

  .descr {
    flex-direction: column;
    padding: 0 12px;
  }

  .descr > div {
    width: 100%;
  }
}


