
.movie {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.descr {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}


.descr > div {
    width: calc(50% - 12px);
}

.back {
    display: inline;
    color: blueviolet;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.back:hover {
    color: blue;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap: 24px;
    padding: 24px 0;
}

.title {
    font-size: 24px;
    color: aquamarine;
}

@media (max-width: 767px) {
    .list {
        padding: 24px 12px;
    }
}

@media (max-width: 768px) {
    .back {
        margin-left: 32px;
    }

    .descr {
        flex-direction: column;
    }

    .descr > div {
        width: 100%;
    }
}